<script>
    import InputField from "../InputField.svelte";
    import moment from "moment";
    import Button from "../Button.svelte";
    import {fetchHelper} from "../../utils/fetch.js";
    import {createEventDispatcher} from 'svelte';
    import {boardAction} from "../../store.js";

    export let showModal = false;
    export let header = 'Create new board';
    export let onSave;
    let dialog;
    let boardName;
    let due_date;

    $: if (dialog && showModal) dialog.showModal();

    const dispatch = createEventDispatcher();

    async function createNewBoard() {
        try {
            const newBoardData = {
                name: boardName,
                due_date: moment(due_date).format(),
            };

            const apiUrl = '/boards/';
            await fetchHelper(apiUrl, 'POST', newBoardData);

            dispatch('boardCreated');
            showModal = false;
            boardAction.set(true);
        } catch (error) {
            console.error("Error creating board:", error);
        }
    }
    $: onSave = onSave || createNewBoard;

</script>
{#if showModal}
    <dialog class="w-1/4 p-5 rounded-lg"
            bind:this={dialog} on:close={() => (showModal = false)}
            on:click|self={() => dialog.close()}>
        <div class="flex flex-col gap-y-5 p-3">
            <h1>{header}</h1>
            <InputField type='text' bind:value={boardName} placeholder='Enter board name'></InputField>
            <InputField type='date' bind:value={due_date}></InputField>
            <Button onClick={onSave}><i class="fa-solid fa-plus"></i>Save</Button>
        </div>

    </dialog>
{/if}
<style>
    dialog::backdrop {
        background: rgba(0, 0, 0, 0.3);
    }

    p {
        color: red;
        font-style: italic;
    }

    dialog[open] {
        animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    @keyframes zoom {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1);
        }
    }

    dialog[open]::backdrop {
        animation: fade 0.2s ease-out;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>



