<script>
    import { fetchHelper } from "../../utils/fetch.js";
    import Button from "../Button.svelte";
    import AddNewBoardModal from "./AddNewBoardModal.svelte";
    import InputField from "../InputField.svelte";
    import SelectButton from "./SelectButton.svelte";
    import {isAdmin} from "../../utils/decode.js";
    import BoardCard from "./BoardCard.svelte";
    import {onMount} from "svelte";
    import {boardAction} from "../../store.js";

    let showFilters = false;// show all the filters
    let showModal = false;//show the model for adding a new board
    let boards = [];

    //FILTERS
    /*search bar*/
    let filteredBoards = [];
    let searchText = '';

    /*status of the board*/
    let status = ['In Progress', 'Finished', 'Nearing Deadline'];
    let selectedStatus = '';

    $: filteredBoards = boards
        .sort((a, b) => {
            if (a.status === 'Nearing Deadline') return -1;
            if (b.status === 'Nearing Deadline') return 1;
            if (a.status === 'In Progress' && b.status !== 'In Progress') return -1;
            if (b.status === 'In Progress' && a.status !== 'In Progress') return 1;
            return new Date(a.due_date) - new Date(b.due_date);
        })
        .filter(board =>
            (!searchText || board.name.toLowerCase().includes(searchText.toLowerCase())) &&
            (selectedStatus === '' || board.status === selectedStatus)
        );


    function toggleFilters(){
        showFilters = !showFilters;
    }

    function addNewBoard() {
        showModal = true;
    }

    function getTheStatus() {
        const now = new Date();
        boards.forEach((board) => {
            const endDate = new Date(board.due_date);
            const timeDiffDue = endDate.getTime() - now.getTime();
            const daysTillDue = Math.ceil(timeDiffDue / (1000 * 3600 * 24));
            const finished = endDate-now;

            if (isNaN(finished)|| finished<=0) {
                board.status = 'Finished';
            } else if (daysTillDue <= 3) {
                board.status = 'Nearing Deadline';
            }else{
                board.status = 'In Progress';
            }
            return { ...board };

        });
    }

    function filterByStatus() {
        filteredBoards = boards.filter(board =>
            (selectedStatus === '' || board.status === selectedStatus)
        );
    }


    async function loadBoards() {
        boards = await fetchHelper('/boards');
        getTheStatus();
        filteredBoards = boards;
    }

    onMount(async () => {
        const unsubscribe = boardAction.subscribe(value => {
            if (value) {
                loadBoards();
                boardAction.set(false);
            }
        });

        return () => {
            unsubscribe();
        };

    })

    loadBoards();
</script>


<div class="relative">
    {#if isAdmin()}
        <div class="flex-box align-right">
            <Button onClick={addNewBoard}><i class="fa-solid fa-plus"></i> Add new board</Button>
        </div>
        <AddNewBoardModal bind:showModal />
    {/if}
    <button class="sticky bg-white bg-opacity-50 rounded-full w-10 h-10 border-none flex justify-center items-center
    -translate-x-1/2 -translate-y-1/2 left-0 top-1/2 shadow-md z-10" on:click={toggleFilters}>
        <i class="fa-solid fa-filter"></i>
    </button>

    <main class="grid-container {showFilters ? 'filters-shown' : ''}">
        {#if showFilters}
            <div class="filter-column mr-5">
                <InputField type="text" bind:value={searchText} placeholder="Search..." marginBottom="10px"></InputField>
                <hr class="mb-3">
                <SelectButton options={status} bind:value={selectedStatus} buttonText="All" onChange={filterByStatus}/>
                <hr class="mb-3">
            </div>

            <div class="grid grid-cols-3 gap-x-5">
                {#each filteredBoards as board}
                    <BoardCard board={board}></BoardCard>
                {/each}
            </div>
        {:else }
            <div class="grid grid-cols-4 gap-x-5">
                {#each filteredBoards as board}
                    <BoardCard board={board}></BoardCard>
                {/each}
            </div>
        {/if}
    </main>
</div>


<style>
    .grid-container {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: auto;
        transition: grid-template-columns 0.3s ease-in-out;
    }

    .grid-container.filters-shown {
        grid-template-columns: 250px 1fr;
    }

    .align-right {
        text-align: right;
        width: 100%;
    }
</style>
