<!-- DropdownMenu.svelte -->
<script>
    import { onMount, onDestroy } from 'svelte';

    export let options = [];
    export let board;
    let openMenu = false;
    let dropdownElement;

    function handleClickOutside(event) {
        if (dropdownElement && !dropdownElement.contains(event.target)) {
            openMenu = false;
        }
    }

    onMount(() => {
        window.addEventListener('click', handleClickOutside);
    });

    onDestroy(() => {
        window.removeEventListener('click', handleClickOutside);
    });
    function handleOptionsClick() {
        openMenu = !openMenu;
    }
</script>


<div class="dropdown" bind:this={dropdownElement}>
    <button on:click|preventDefault={handleOptionsClick} class="absolute top-0 right-0 p-2 text-gray-600 hover:text-gray-800">
        <i class="fa-solid fa-ellipsis"></i>
        {#if openMenu}
            <div class=" absolute top-full mt-1 z-50 bg-white border border-gray-200 rounded shadow-lg" on:click|self={() => openMenu = false}>
                {#each options as option}
                    <button class=" p-2 hover:bg-gray-100 w-full text-left" on:click={option.action}>{option.label}</button>
                {/each}
            </div>
        {/if}
    </button>
</div>
