<script>
    import InputField from "../InputField.svelte";
    export let searchQuery;
    export let filterCallback;

    function handleInput(event) {
        searchQuery = event.target.value;
        if (filterCallback) {
            filterCallback(searchQuery);
        }
    }
</script>

<div>
    <InputField value={searchQuery} placeholder="Search..."z />
</div>
