<script>
    export let options = [];
    export let buttonText = "";
    export let value = '';
    export let onChange;
</script>

<select name="menu" bind:value={value} on:change={onChange}
        class="p-2.5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-2
         focus:ring-blue-500 focus:border-none focus:outline-none cursor-pointer w-fit h-auto mb-3">
    <option value="">{buttonText}</option>
    {#if options.length > 0}
        {#each options as option}
            <option value={option}>{option}</option>
        {/each}
    {/if}
</select>

