<script>
    import router from "page";

    export let testcase;

    function timeLeft() {
        const difference = testcase.due_date - Date.now();
        const days = difference / (1000 * 60 * 60 * 24);
        const hours = difference % (1000 * 60 * 60 * 24) / (1000 * 60 * 60)
        if (difference > 0) {
            return '    ' + Math.round(days) + ' Days ' + Math.round(hours) + ' Hours'
        } else {
            return 'Overdue'
        }
    }

    function click() {
        router(`/testcases/${testcase.id}`)
    }
</script>

<button on:click={click} class="flex items-center w-full max-w-sm p-4 text-gray-500 bg-white shadow-md rounded-lg gap-x-8">
    <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg">
        <div class="w-5 h-5 text-center inline-block">
            <i class="fa-solid fa-circle-exclamation" style="color: #ffa424;"></i>
        </div>
    </div>
    <span class="flex-grow truncate overflow-hidden whitespace-nowrap hover:whitespace-normal text-left">{testcase.name}</span>
    <span class="flex-grow truncate overflow-hidden whitespace-nowrap  hover:whitespace-normal text-left">{timeLeft()}</span>
</button>