<script>
    import NotificationItem from "./NotificationItem.svelte";

    export let dueTestcases;
    export let display = 'hidden';

    function sortByDueDate(testcases) {
        testcases.forEach((t) => t.due_date = Date.parse(t.due_date));
        testcases.sort((t1, t2) => {
            if (t1.due_date < t2.due_date) {
                return -1;
            }
            if (t1.due_date > t2.due_date) {
                return 1;
            }
            return 0;
        });
        return testcases
    }


</script>

<div class="{display} absolute mt-1 h-fit w-96 flex flex-col gap-y-1 ">
    {#await dueTestcases}
        <p class="px-2 py-2 w-full border-2 text-start">Loading testcases that are due...</p>
    {:then testcases}
        {#if testcases.length > 0}
            {#each sortByDueDate(testcases) as testcase}
                <NotificationItem testcase="{testcase}"></NotificationItem>
            {/each}
        {:else}
            <div class="flex items-center w-full max-w-sm p-4 text-gray-500 bg-white shadow-md rounded-lg gap-x-8">
                <span class="flex-grow">No due testcase</span>
            </div>
        {/if}
    {:catch error}
        <p class="px-2 py-2 w-full border-2 text-start">{error}</p>
    {/await}
</div>