<script>
    import {fetchHelper} from "../../utils/fetch.js";
    import {getUsername} from "../../utils/decode.js";
    import NotificationDropDown from "./NotificationDropDown.svelte";

    let countVisibility = 'hidden'
    let count = 0;
    let displayDropdown = 'hidden';
    let dueTestcases = getTestcasesDue();

    function nearlyDue(testcase) {
        const difference = Date.parse(testcase.due_date) - Date.now();
        const days = difference / (1000 * 60 * 60 * 24);
        return days <= 3;
    }

    async function getTestcasesDue() {
        const testcases = await fetchHelper(`/accounts/${getUsername()}/testcases`);
        let dueTestcases = testcases.filter((t) => (t.status === "Pending" || t.status === "Not Started"))
            .filter(nearlyDue);
        if (dueTestcases.length > 0) {
            countVisibility = 'visible';
        } else {
            countVisibility = 'hidden';
        }
        count = dueTestcases.length;
        return dueTestcases;
    }

    function click() {
        if (displayDropdown === 'hidden') {
            dueTestcases = getTestcasesDue();
            displayDropdown = 'block';
        } else {
            displayDropdown = 'hidden';
        }
    }
</script>
<div class="flex-col">
    <div class="relative m-6 pt-2 inline-flex w-fit self-center">
        <div class="flex items-center justify-center rounded-lg bg-primary-500  px-4 text-center text-white0">
            <button on:click={click}><i class="fa-regular fa-envelope fa-2xl" style="color: #f0f5ff;"></i></button>
            <div id="notification-count"
                 class="{countVisibility} absolute top-0 right-0 -mt-2 -mr-2 bg-red-500 text-white rounded-full w-6 h-6 text-xs flex items-center justify-center">{count}</div>
        </div>
    </div>
    <NotificationDropDown dueTestcases="{dueTestcases}" display="{displayDropdown}"></NotificationDropDown>
</div>
