<script>
    import InputField from "../../InputField.svelte";
    import TextArea from "../../TextArea.svelte";
    import ListOfSteps from "../../Steps/ListOfSteps.svelte";
    import {isAdmin} from "../../../utils/decode.js";
    import TestTimer from "./TestTimer.svelte";
    export let testCase;
    export let disabled = !isAdmin();
    export let creating;



</script>

<div class="flex flex-col gap-y-5 min-w-[300px]">
    <InputField disabled={disabled} bind:value={testCase.name} placeholder="Testcase name"/>
    <h2 class="font-bold">Description</h2>
    <TextArea disabled={disabled} bind:value={testCase.description} placeholder="Test description"/>


    {#if !creating}
        <h2 class="font-bold">Timer</h2>
        <TestTimer testcase="{testCase}"/>
    {/if}

    <h2 class="block mb-2 font-bold">Steps</h2>
    <ListOfSteps bind:testCase={testCase} creating="{creating}"/>


</div>