<script>
    import Button from "../../Button.svelte";
    import {fetchHelper} from "../../../utils/fetch.js";
    import {addToPGInterval, convertToPGInterval} from "../../../utils/util.js";
    import Alert from "../../Alert.svelte";

    export let testcase;

    let button = 'Start';
    let onClick = start;
    let running = false;

    let showModal = false;
    let errorMessage = "Something went wrong";

    let startTime;
    let endTime;
    let timerIcon = 'fa-solid fa-stopwatch';
    function start() {
        button = 'Pause';
        onClick = pause;
        running = true;
        startTime = Date.now();
    }

    async function pause() {
        button = 'Continue';
        onClick = start;
        running = false;

        endTime = Date.now();
        const interval = endTime - startTime
        if (testcase.duration) {
            testcase.duration = addToPGInterval(interval, testcase.duration)
        } else {
            testcase.duration = convertToPGInterval(interval);
        }

        await updateDuration()
    }

    async function reset() {
        button = "Start";
        onClick = start;
        running = false;
        testcase.duration = {
            seconds: 0
        };

        await updateDuration();
    }

    async function updateDuration() {
        try {
            const response = await fetchHelper(`/testcases/${testcase.id}`, 'PUT', testcase);
            if (!response) {
                errorMessage = response.message;
                showModal = true;
            }
        } catch (error) {
            errorMessage = error;
            showModal = true;
        }
    }

</script>

<div>
    {#await testcase.duration}
        <Button disabled={true}>{button}</Button>
    {:then duration}
        <Button onClick="{onClick}"> <i class={timerIcon}></i> {button}</Button>
        {#if !running && duration}
            <Button hoverTextColor="hover:text-red-800" onClick="{reset}"> <i class="fa-regular fa-clock"></i> Reset</Button>
        {/if}
    {:catch error}
        <p>{error}</p>
    {/await}
</div>

<Alert bind:showModal>{errorMessage}</Alert>