<script>
    import router from "page";
    import {accountToEdit, tokenStore} from "./store.js";

    import Homepage from "./pages/Homepage.svelte";
    import Login from "./pages/Login.svelte";
    import Header from "./components/Header.svelte";
    import BugReportEdit from "./pages/BugReportEdit.svelte";
    import UsersPage from "./pages/UsersPage.svelte";
    import TestCaseAdd from "./pages/TestCaseAdd.svelte";
    import Report from "./pages/Report.svelte";
    import Board from "./pages/Board.svelte";
    import AllBoards from "./pages/AllBoards.svelte";
    import Account from "./pages/Account.svelte";
    import Footer from "./components/Footer.svelte";
    import ChangePassword from "./pages/ChangePassword.svelte";
    import CreateTestCase from "./pages/CreateTestCase.svelte";
    import BugReportAdd from "./pages/BugReportAdd.svelte";

    let page;
    let params;
    let currentRoute;
    let token;

    tokenStore.subscribe(value => {
        token = value.token;
    });

    function isAuthenticated() {
        return token !== '';
    }

    router('/testcases/:id', (ctx) => {
        if (isAuthenticated()) {
            page = TestCaseAdd;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/testcases', (ctx) => {
        if (isAuthenticated()) {
            page = CreateTestCase;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/', (ctx) => {
        page = Login;
        currentRoute = ctx.pathname;
    });

    router('/reports/:id', (ctx) => {
        if (isAuthenticated()) {
            page = Report;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/bugreports', (ctx) => {
        if (isAuthenticated()) {
            page = BugReportAdd;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/bugreports/:id', (ctx) => {
        if (isAuthenticated()) {
            page = BugReportEdit;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/homepage', (ctx) => {
        if (isAuthenticated()) {
            page = Homepage;
            currentRoute = ctx.pathname;
        } else {
            router('/');
        }
    });

    router('/users', (ctx) => {
        if (isAuthenticated()) {
            accountToEdit.set({username: '', password: '', is_admin: false});
            page = UsersPage;
            currentRoute = ctx.pathname;
        } else {
            router('/');
        }
    });

    router('/boards/:id', (ctx) => {
        if (isAuthenticated()) {
            page = Board;
            currentRoute = ctx.pathname;
            params = ctx.params;
        } else {
            router('/');
        }
    });

    router('/boards', (ctx) => {
        if (isAuthenticated()) {
            page = AllBoards;
            currentRoute = ctx.pathname;
        } else {
            router('/');
        }
    });

    router('/account', (ctx) => {
        if (isAuthenticated()) {
            page = Account;
            currentRoute = ctx.pathname;
        } else {
            router('/');
        }
    });

    router('/reset-password/:token', (ctx) => {
        page = ChangePassword;
        currentRoute = ctx.pathname
    })

    router.start();
</script>


<main class="flex flex-col justify-between">
    <Header/>
    <main class="min-h-screen">
        <svelte:component this={page} {params}/>
    </main>
    <Footer/>
</main>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,500&display=swap');
    * {
        font-family: 'Work Sans', sans-serif;
    }

</style>