<script>
    import {afterUpdate, onMount} from "svelte";
    import Step from "./Step.svelte";
    import Button from "../Button.svelte";
    import {fetchHelper} from "../../utils/fetch.js";
    import {isAdmin} from "../../utils/decode.js";

    export let testCase;
    export let creating;
    let steps = [];
    let progress = 0;
    let isVisible = 0;

    function updateProgress() {
        let counter = 0;
        let failureCounter = 0;
        for (const step of steps)
            if (step.status === "OK") {
                counter++;
            } else if (step.status === "Failed") {
                failureCounter++;
            }

        progress = counter * 100 / steps.length;

        // Update the overall status of the testCase
        if (failureCounter > 0) {
            testCase.status = 'Failed';
        } else if (counter === steps.length) {
            testCase.status = 'Done';
        } else if (counter > 0) {
            testCase.status = 'Pending';
        } else {
            testCase.status = 'Not Started';
        }
    }

    onMount(async () => {
        if (!creating) {
            await getStepsBasedOnTestCaseId();
            updateProgress();
        }
    })

    async function getStepsBasedOnTestCaseId() {
        if (!creating) {
            steps = await fetchHelper(`/testcases/${testCase.id}/steps`);
        }
        return steps;
    }

    async function deleteStepById(stepId) {
        const result = await fetchHelper(`/steps/${stepId}`, 'DELETE');
        console.log(result);
        steps = steps.filter(step => step.id !== stepId);
    }

    async function addNewStep() {
        if (!creating) {
            const newStepTestcaseId = {
                testCaseId: testCase.id
            }
            const result = await fetchHelper(`/steps`, 'POST', newStepTestcaseId);

            steps.push(result.step);
            steps = steps;
            updateProgress();
        } else {
            steps.push({
                description: '',
                status: 'N/A',
            });
            steps = steps;
            testCase.steps = steps;
        }
    }

    function updateStepProgressAndNotify(stepId) {
        updateProgress();
        isVisible = stepId;

        // Set a timeout to hide the message after 3 seconds
        setTimeout(() => {
            isVisible = 0;
        }, 2000);
    }


</script>

<section class="flex flex-col gap-y-5">
    {#if steps}
        {#each steps as step}
            <div class="flex flex-row">
                <Step bind:testCase={testCase} bind:step={step} onChange={() => updateStepProgressAndNotify(step.id)}
                      creating="{creating}"/>
                {#if isAdmin() && !creating}
                    <Button hoverTextColor="hover:text-red-800" onClick={() => deleteStepById(step.id)}><i
                            class="fa-solid fa-trash-can"></i></Button>
                {/if}
            </div>
            {#if isVisible === step.id}
                <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
                     role="alert">
                    <div class="flex">
                        <div class="py-1">
                            <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20">
                                <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                            </svg>
                        </div>
                        <div>
                            <p class="font-bold">Data Saved</p>
                            <p class="text-sm">You have just update your step data!</p>
                        </div>
                    </div>
                </div>
            {/if}
        {/each}
    {/if}


    {#if isAdmin()}
        <Button onClick={addNewStep}><i class="fa-solid fa-plus"></i> Add new step</Button>
    {/if}

    {#if !creating}
        <h2>Progress</h2>

        <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-700 flex flex-row">
            <div class="h-4 bg-blue-600 rounded-full dark:bg-blue-500 flex flex-row" style="width: {progress}%">
                <p class="ml-1 text-white text-xs">{!isNaN(progress) ? Math.ceil(progress) : 0}%</p>
            </div>
        </div>
    {/if}
</section>

