<script>

    import Button from "../Button.svelte";
    import InputField from "../InputField.svelte";
    import router from "page";
    import {fetchHelper} from "../../utils/fetch.js";

    export let testCase;
    export let creating;
    export let step;
    export let onChange = () => {
    };

    async function saveStepData(des, status) {
        if (!creating) {
            const newStep = {
                description: des,
                status: status,
                testCaseId: step.testcase_id
            }
            await fetchHelper(`/steps/${step.id}`, 'PUT', newStep);
        } else {
            console.log(testCase);
        }
    }

    function saveStatus() {
        saveStepData(step.description, step.status);
        onChange();
    }

    function saveDescription() {
        saveStepData(step.description, step.status);
        onChange();
    }

    async function addBugReport() {
        router(`/bugreports?testcaseId=${testCase.id}&stepId=${step.id}`);
    }

</script>

<div class="flex flex-row gap-x-2 w-full">
    <InputField bind:value={step.description} handleBlur={saveDescription}></InputField>

    <select class="border border-gray-200 p-1 rounded-lg cursor-pointer text-sm" id="status" bind:value={step.status}
            on:change={saveStatus}>
        <option value="N/A">N/A</option>
        <option value="OK">OK</option>
        <option value="Failed">Failed</option>
    </select>
    {#if !creating}
        <Button onClick={addBugReport}><i class="fa-solid fa-bug"></i></Button>
    {/if}
</div>
