<script>
    import SimpleTestCase from "../components/SimpleTestCase.svelte";
    import { fetchHelper } from "../utils/fetch.js";
    import { getUsername } from "../utils/decode.js";
    import { onMount } from "svelte";

    let username = getUsername();
    let testCasesPromise = fetchHelper(`/accounts/${username}/testcases`);
    let testCases;

    onMount(async () => {
        testCases = await testCasesPromise;
    });
    function sortByStatusAndDueDate(testCases) {
        const statusOrder = { 'Failed': 1, 'Pending': 2, 'Not Started': 3 };

        return testCases.slice().sort((a, b) => {
            if (statusOrder[a.status] !== statusOrder[b.status]) {
                return statusOrder[a.status] - statusOrder[b.status];
            }
            const aDueDate = a.due_date ? new Date(a.due_date).getTime() : null;
            const bDueDate = b.due_date ? new Date(b.due_date).getTime() : null;

            if (aDueDate !== null && bDueDate !== null) {
                const now = new Date().getTime();
                return aDueDate - now - (bDueDate - now);
            }

            if (aDueDate === null && bDueDate !== null) {
                return 1;
            } else if (aDueDate !== null && bDueDate === null) {
                return -1;
            }

            return 0;
        });
    }

</script>

<main class="m-16 flex flex-col ">
    <section class="flex flex-row mb-8">
        <h1 class="text-4xl font-bold mb-5 self-start">Test Cases</h1>
    </section>

    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5 w-full">
        {#if testCases}
            {#each sortByStatusAndDueDate(testCases) as testCase (testCase.id)}
                <div class="aspect-w-4 aspect-h-3">
                    <SimpleTestCase {testCase} />
                </div>
            {/each}
        {:else}
            <p>No test cases available.</p>
        {/if}
    </section>
</main>