<script>
    import BoardsSection from "../components/ViewAllBoards/BoardsSection.svelte";

</script>

<main class="m-16 flex flex-col ">
    <section class="flex flex-row mb-8">
        <h1 class="text-4xl mb-5 font-bold self-start">All Boards</h1>
    </section>
<BoardsSection/>
</main>