<script>
    import BoardSideBar from "../components/ViewSingleBoard/BoardSideBar.svelte";
    import {fetchHelper} from "../utils/fetch.js";
    import TestcaseDraggableButton from "../components/ViewSingleBoard/TestcaseDraggableButton.svelte";
    import BoardTopButtons from "../components/ViewSingleBoard/BoardTopButtons.svelte";

    export let params;
    const boardId = params.id;
    let sectionNames = ['Not Started', 'Pending', 'Done', 'Failed'];

    let allTestcases = [];
    let filteredTestcases = [];

    async function getAllTestcases() {
        allTestcases = await fetchHelper(`/boards/${boardId}/testcases`, 'GET', {});
        filteredTestcases = allTestcases;
    }

    async function handleDrop(event, newStatus) {
        event.preventDefault();
        const itemData = JSON.parse(event.dataTransfer.getData('application/json'));

        if (itemData.status !== newStatus) {
            itemData.status = newStatus;
            await updateTestCaseStatus(itemData.id, itemData);
            await getAllTestcases();
        }
    }

    function handleDragOver(event) {
        event.preventDefault();
    }


    async function updateTestCaseStatus(testCaseId, newStatusTestcase) {
        await fetchHelper(`/testcases/${testCaseId}`, 'PUT', newStatusTestcase);
    }

    getAllTestcases();

</script>



<main class="min-h-screen bg-gray-100">
    <div class="text-left pl-10 pt-10">
        <h1 class="text-4xl font-bold">View Board</h1>
    </div>

    <div class="flex">
        <div class="ml-auto">
            <BoardTopButtons boardId="{boardId}"></BoardTopButtons>
        </div>
    </div>

    <div class="flex flex-col md:flex-row w-full">
        <div class="md:w-1/6 top-0 pl-10">
            <BoardSideBar bind:filteredTestcases={filteredTestcases} testcases="{allTestcases}"></BoardSideBar>
        </div>

        <div class="flex-1">
            <section class="grid grid-cols-5 gap-x-5 h-[calc(75vh)]">
                    {#each sectionNames as sectionName}
                        <div class="p-5 border border-gray-300 bg-white rounded mb-8" on:drop={(event) => handleDrop(event, sectionName)} on:dragover={handleDragOver}>
                            <div class="flex items-center justify-between">
                                <h2 class="p-2 font-bold">{sectionName}</h2>
                            </div>
                            {#each filteredTestcases as testCase}
                                {#if testCase.status === sectionName }
                                    <TestcaseDraggableButton testCase="{testCase}"/>
                                {/if}
                            {/each}
                        </div>
                    {/each}
            </section>
        </div>
    </div>
</main>
