<script>
    import BugReportContentContainer from "../components/BugReport/BugReportContentContainer.svelte";
    import BugReportSideContainer from "../components/BugReport/BugReportSideContainer.svelte";
    import {fetchHelper, getTestCase} from "../utils/fetch.js";
    import router from "page";
    import Button from "../components/Button.svelte";
    import Alert from "../components/Alert.svelte";
    import {tokenStore} from "../store.js";

    let testcaseId;
    let title = '';
    let description = '';
    let stepId;
    let isBlocking;
    let showModal = false;
    let selectedFiles = [];
    let statusDisplay;

    const urlSearchParams = new URLSearchParams(window.location.search);
    testcaseId = urlSearchParams.get("testcaseId");
    stepId = urlSearchParams.get("stepId")

    function receiveBugReportData(event) {
        title = event.detail.title;
        description = event.detail.description;
    }

    function handleFileSelected(event) {
        selectedFiles = event.detail.selectedFilesWithOGNames;
    }


    async function addNewBugReport(testCase) {
        if (title === '' || description === '') {
            showModal = true;
        } else {
            try {
                const newBugReportPromise = await fetchHelper(`/bugreports`, 'POST', {
                    step_id: stepId,
                    name_tester: testCase.name_tester,
                    title: title,
                    description: description,
                    environment: testCase.environment,
                    blocking: isBlocking,
                    product: testCase.product_name,
                    status: statusDisplay
                });

                if (selectedFiles.length > 0) {
                    await uploadFile(newBugReportPromise.id);
                }

                router(`/testcases/${testcaseId}`);

            } catch (error) {
                JSON.stringify(error);
            }
        }
    }

    async function uploadFile(bugId) {
        const uploadPromises = selectedFiles.map(async (file) => {
            try {
                const formData = new FormData();
                formData.append('bugId', bugId);
                formData.append('file', file);

                await fetch(`${import.meta.env.VITE_BASE_URL}/bugreports/${bugId}/upload`, {
                    headers: {Authorization: `Bearer ${$tokenStore.token}`},
                    method: 'POST',
                    body: formData,
                });

            } catch (error) {
                console.error('Error uploading file:', file.name, error);
            }
        });
        await Promise.all(uploadPromises);
    }

</script>


<body class="flex flex-col p-5 content-between gap-y-5">
<h1 class="font-bold text-3xl pl-5">Create bug report</h1>

<main class="flex flex-row justify-between min-h-screen">
    {#await getTestCase(testcaseId)}
        <p>Loading...</p>
    {:then testCase}
        <section class="flex flex-col w-2/3 gap-5 p-5">
            <BugReportContentContainer placeholderColor="placeholder-gray"
                                       descriptionPlaceholder="Description"
                                       titlePlaceholder="Bug report title"
                                       on:titledescription={receiveBugReportData}
                                       on:selectedFilesChanged={handleFileSelected}/>
            <Button onClick={() => addNewBugReport(testCase)}> <i class="fa-solid fa-floppy-disk"></i> Save</Button>
        </section>


        {#if title === ''}
            <Alert bind:showModal><i class="fa-solid fa-triangle-exclamation text-2xl text-red-800"></i> Title cannot be
                empty!
            </Alert>
        {:else if (description === '')}
            <Alert bind:showModal><i class="fa-solid fa-triangle-exclamation text-2xl text-red-800"></i> Description
                cannot be empty!
            </Alert>
        {/if}

        <BugReportSideContainer reporter={testCase.name_tester} environment={testCase.environment}
                                product={testCase.product_name}
                                stepId={stepId}
                                bind:statusDisplay={statusDisplay}
                                bind:isBlocking={isBlocking}/>
    {/await}
</main>
</body>
