<script>
    import BugReportContentContainer from "../components/BugReport/BugReportContentContainer.svelte";
    import BugReportSideContainer from "../components/BugReport/BugReportSideContainer.svelte";
    import {fetchHelper} from "../utils/fetch.js";
    import router from "page";
    import Button from "../components/Button.svelte";
    import {tokenStore} from "../store.js";

    export let params;
    const bugreportID = params.id;

    let title = '';
    let description = '';
    let isBlocking;
    let selectedFiles = [];
    let statusDisplay;

    async function loadBugReportData() {
        return await fetchHelper(`/bugreports/${bugreportID}`);
    }

    async function getAttachments() {
        return await fetchHelper(`/bugreports/${bugreportID}/attachments`);
    }

    function receiveBugReportData(event) {
        title = event.detail.title || '';
        description = event.detail.description || '';
    }

    function handleFileSelected(event) {
        selectedFiles = event.detail.selectedFilesWithOGNames;
    }

    async function updateBugReport(bugReport, testcase_id) {
        try {
            await fetchHelper(`/bugreports/${bugreportID}`, 'PATCH', {
                id: bugreportID,
                title: title.length > 0 ? title : bugReport.title,
                description: description.length > 0 ? description : bugReport.description,
                blocking: isBlocking,
                status: statusDisplay
            });


            const uploadPromises = selectedFiles.map(async (file) => {
                try {
                    const formData = new FormData();

                    formData.append('bugId', bugreportID);
                    formData.append('file', file);

                    await fetch(`${import.meta.env.VITE_BASE_URL}/bugreports/${bugreportID}/upload`, {
                        method: 'POST',
                        headers: {Authorization: `Bearer ${$tokenStore.token}`},
                        body: formData
                    });

                } catch (error) {
                    console.error('Error uploading file:', file.name, error);
                }
            });

            await Promise.all(uploadPromises);

            router(`/testcases/${testcase_id}`);
        } catch (error) {
            console.error('Error:', error);
        }
    }


</script>

<body class="flex flex-col p-8 content-between gap-y-5 h-screen">
<h1 class="font-bold text-3xl pl-5">Edit Bug Report</h1>

{#await loadBugReportData()}
    <p>Loading...</p>

{:then bugReport}
    <main class="flex flex-row justify-between h-1/2">
        <section class="flex flex-col w-2/3 gap-5 p-5">
            {#await getAttachments()}
            {:then attachments}
                <BugReportContentContainer on:titledescription={receiveBugReportData}
                                           on:selectedFilesChanged={handleFileSelected}
                                           titlePlaceholder={bugReport.title}
                                           descriptionPlaceholder={bugReport.description}
                                           existingFiles={attachments}/>
            {/await}
            <Button onClick={() => updateBugReport(bugReport, bugReport.testcase_id)}><i
                    class="fa-solid fa-floppy-disk"></i> Save
            </Button>
        </section>
        <BugReportSideContainer reporter={bugReport.name_tester} environment={bugReport.environment}
                                product={bugReport.product} stepId={bugReport.step_id}
                                bind:statusDisplay={statusDisplay}
                                bind:isBlocking={isBlocking}/>
    </main>
{/await}
</body>
