<script>
    import TestCaseDetails from "../components/TestCase/TestCaseDetails.svelte";
    import {fetchHelper} from "../utils/fetch.js";
    export let params;
    const urlSearchParams = new URLSearchParams(window.location.search);
    const boardId = urlSearchParams.get("boardId");

    let board;
    let boardDueDate;
    let testcase;
    async function getBoard(){
        board = await fetchHelper(`/boards/${boardId}`, 'GET', {});
        boardDueDate = board.due_date;
        resetTestcase();
    }

    function resetTestcase(){
        testcase = {
            board_id: boardId,
            due_date: board.due_date,
            name: '',
            name_tester: '',
            weight: 0,
            environment: '',
            product: [],
            description: '',
            status: 'Not Started',
            steps: []
        };
    }
</script>

{#await getBoard()}
    <p>Loading...</p>
{:then _}
    <TestCaseDetails testCase="{testcase}" creating="{true}"/>
{/await}