<script>
    import {tokenStore} from "../store.js";
    import {fetchHelper} from "../utils/fetch.js";
    import router from "page";
    import InputField from "../components/InputField.svelte";
    import Button from "../components/Button.svelte";
    import ImageCard from "../components/ImageCard.svelte";
    import Alert from "../components/Alert.svelte";

    let email = '';
    let password = '';
    let showModal = false;

    async function handleLogin() {
        try {
            const response = await fetchHelper(`/accounts/login`, 'POST', { email, password });
            if (response.token) {
                $tokenStore = response;
                showModal = false;
                router('/account');
            } else {
                showModal = true;
            }
        } catch (error) {
            showModal = true;
            console.error('Error while trying to log in:', error);
        }
    }

    //Key press enter also triggers login
    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            handleLogin();
        }
    }

</script>

<main class="flex m-0 pb-8 justify-center min-h-screen box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
    <section class="shadow-md flex flex-row mt-10 rounded bg-[#F3F4F5] justify-evenly px-20 gap-x-20">

        <div class="flex items-center justify-center max-w-2xl rounded p-12">
                <ImageCard imgRoute="/src/assets/loginPage.png" alt="LoginImage"/>
        </div>

        <div class="flex items-center justify-center p-8">
            <div class="flex flex-col items-center justify-center gap-y-5 p-10 w-full max-w-md">
                <h2 class="text-3xl font-bold text-gray-700">LOGIN</h2>
                <p class="text-sm italic text-gray-600">Please enter your credentials to login</p>
                <InputField type="text" placeholder="username" bind:value="{email}" handleKeyPress={handleKeyPress}/>
                <InputField type="password" placeholder="password" bind:value="{password}" handleKeyPress={handleKeyPress}/>
                <Button onClick={handleLogin} color="bg-gray-700" hoverColor="hover:bg-gray-800"><p class="text-bold text-white">Login</p></Button>
            </div>
        </div>
    </section>

    <Alert bind:showModal>
        Login failed! Please try again!
    </Alert>
</main>
