<script>
    import BoardReportFilterSection from "../components/BoardReport/BoardReportFilterSection.svelte";
    import BoardReportTable from "../components/BoardReport/BoardReportTable.svelte";
    import {fetchHelper} from "../utils/fetch.js";
    import BoardProgress from "../components/BoardReport/BoardProgress.svelte";

    export let params;
    const boardId = params.id;

    let currentProduct;
    let progressData;
    let boardsPromise = fetchHelper(`/boards/${boardId}`);

    async function getProgressData() {
        try {
            progressData = await fetchHelper(`/boards/${boardId}/progress`);
            return progressData;
        } catch (error) {
            console.error('Error fetching progress data:', error);
        }
    }


</script>

<section class="flex flex-col">
    {#await getProgressData()}
    {:then progressData}

        {#await boardsPromise}
            <p>Loading...</p>
        {:then board}
            <h1 class="font-bold text-4xl mt-10 ml-10">Board Report</h1>

            <div class="flex justify-between m-10">
                <BoardReportFilterSection bind:currentProduct={currentProduct}/>
                <div class="border-l-2 border-gray-400 mx-4"></div>
                <BoardReportTable {board} bind:filteredProduct={currentProduct}/>
            </div>
        {/await}

        <BoardProgress {progressData}/>
    {/await}
</section>