<script>
    import TestCaseDetails from "../components/TestCase/TestCaseDetails.svelte";
    import {getTestCase} from "../utils/fetch.js";
    export let params;
    const url = new URL(window.location.href);

    let id = url.pathname.split('/').pop();
    const testcaseId = params.id;

</script>

<main >
    {#await getTestCase(id)}
        <p>Loading...</p>
    {:then testCase}
        <TestCaseDetails testCase="{testCase}" creating="{false}"/>
    {/await}
</main>