<script>
    import Alert from "../components/Alert.svelte";
    import AccountEdit from "../components/Accounts/AccountEdit.svelte";
    import Button from "../components/Button.svelte";
    import AccountList from "../components/Accounts/AccountList.svelte";
    import {onMount} from "svelte";
    import {getAllUsers} from "../utils/fetch.js";
    import {usersList} from "../store.js";

    export let params;
    let accountToEdit;


    let showModal = false;

    function newUserPopUp() {
        showModal = true;
    }

    let userList;

    onMount(async () => {
        userList = await getAllUsers();
        usersList.set(userList);
    });

    $: if (usersList) {
        usersList.subscribe(value => {
            userList = value;
        });
    }

</script>

<main class="m-16 flex gap-20">
    <section class="flex flex-col h-full w-full font-bold">
        <h1 class="mb-5 text-4xl">Accounts</h1>
        <AccountList bind:accountToEdit={accountToEdit}/>
    </section>

    <section class="flex flex-col w-full h-full font-bold gap-y-5">
        <h1 class="mb-5 text-4xl">Edit</h1>
        <AccountEdit isCreating="{false}" account="{accountToEdit}"/>
        <Button onClick="{newUserPopUp}" color="bg-gray-700" hoverColor="hover:bg-gray-900">
            <p class="text-white"><i class="fa-solid fa-plus"></i> Add
            new user</p></Button>
    </section>

    <Alert bind:showModal>
        <h1 class="mb-5 text-4xl font-bold">New User</h1>
        <AccountEdit isCreating="{true}" bind:showModal={showModal}/>
    </Alert>
</main>


