<script>
    import Button from "../Button.svelte";
    import router from "page";

    export let boardId;

    function moveToBoardReport() {
        router(`/reports/${boardId}`);
    }

    //change end point name
    function moveToNewTestcase() {
        router(`/testcases?boardId=${boardId}`);
    }

</script>

<div class="flex p-4 pb-5">
    <Button onClick={moveToBoardReport}><i class="fa-solid fa-table"></i> Board Report</Button>
    <Button onClick={moveToNewTestcase}><i class="fa-solid fa-plus"></i> New Testcase</Button>
</div>