<script>
    import SelectButton from "../ViewAllBoards/SelectButton.svelte";
    import {fetchHelper} from "../../utils/fetch.js";

    export let filterType = ''; // Default filter type
    let options = ['Easion', 'Scorion'];
    let products = [];

    export let filteredTestcases = [];
    export let testcases = [];

    async function getAllTestcaseProductRelations(){
        testcases = filteredTestcases;
        products = await fetchHelper('/testcases/products', 'GET', {});
    }

    async function filterByProduct(){
        if(filterType === ''){
            filteredTestcases = testcases;
        }
        else {
            filteredTestcases = testcases.filter(testcase => {
                const matchingProduct = products.find(product =>
                    product.testcase_id === testcase.id && product.product_name.toLowerCase() === filterType.toLowerCase()
                );

                return matchingProduct !== undefined;
            });
        }
    }

    getAllTestcaseProductRelations();
</script>

<section class="flex flex-col mr-8 w-1/6">
    <div>
        <SelectButton options={options} bind:value={filterType} buttonText="All" onChange={filterByProduct}></SelectButton>
    </div>
</section>