<script>
    import router from "page";
    import Button from "../Button.svelte";
    import {isAdmin} from "../../utils/decode.js";
    import {pgIntervalWithOnlySeconds} from "../../utils/util.js";

    export let testCase;

    async function handleDragStart(event) {
        testCase.duration = pgIntervalWithOnlySeconds(testCase.duration)
        event.dataTransfer.setData('application/json', JSON.stringify(testCase));
    }

    function redirectToTestcase(){
        router('/testcases/' + testCase.id);
    }
</script>

<div draggable="{isAdmin()}" on:dragstart={handleDragStart} class="mb-2 cursor-grab" role="contentinfo">
    <button on:click="{redirectToTestcase}" class="w-full rounded shadow p-3 bg-gray-50">
        <p class=" text-left italic flex-grow truncate overflow-hidden whitespace-nowrap hover:whitespace-normal hover:overflow-visible text-sm"> {testCase.name}</p>
        <div class="flex flex-row justify-between mt-1">
            <p class="text-left text-xs"><i class="fa-solid fa-weight-hanging" style="color: #5e6b82;"></i> {testCase.weight}</p>
            <p class="text-xs" > <i class="fa-regular fa-user" style="color: #5e6b82;"></i> {testCase.name_tester}</p>
        </div>
    </button>
</div>