<script>
    import {fetchHelper} from "../../utils/fetch.js";
    import Button from "../Button.svelte";
    import {convertDate, formatDuration} from "../../utils/util.js";
    import {exportToPDF, exportToCSV} from "../../utils/exporter.js";

    export let board;
    export let filteredProduct;
    let testcases = [];

    function createTestCasesWithAccordingProduct(testcases, relations) {
        let newTestcases = [];

        for (const relation of relations) {
            for (const testcase of testcases) {
                if (testcase.id === relation.testcase_id) {
                    newTestcases.push({
                        id: testcase.id,
                        name: testcase.name,
                        duration: testcase.duration,
                        due_date: testcase.due_date,
                        weight: testcase.weight,
                        product: relation.product_name
                    })
                }
            }
        }

        return newTestcases;
    }

    async function getTestcases() {
        const testCasesOfBoard = await fetchHelper(`/boards/${board.id}/testcases`);
        const testcaseProductRelations = await fetchHelper(`/testcases/products`);
        testcases = createTestCasesWithAccordingProduct(testCasesOfBoard, testcaseProductRelations);
        testcases = testcases.sort((a, b) => a.id - b.id);
        return testcases;
    }

    function filterEnvironment() {
        let filteredTestcases = testcases;

        if (!filteredProduct.includes("Easion")) {
            filteredTestcases = testcases.filter(testcase => testcase.product === "Scorion");
        } else if (!filteredProduct.includes("Scorion")) {
            filteredTestcases = testcases.filter(testcase => testcase.product === "Easion");
        }

        return filteredTestcases;
    }

    function exportPDF() {
        const filteredTestcases = filterEnvironment();

        if (filteredTestcases && filteredTestcases.length > 0) {
            exportToPDF(filteredTestcases, board, filteredProduct);
        } else {
            console.error("No testcases available for export.");
        }
    }

    function exportCSV() {
        exportToCSV(filterEnvironment(), board, filteredProduct);
    }

</script>

{#await getTestcases()}
    <p> Loading Board Report Table.... </p>
{:then testcases}
    <div class="flex flex-col gap-3 w-4/5">
        <table class="border-collapse text-base rounded-tl-xl rounded-tr-xl overflow-hidden shadow-md">
            <thead>
            <tr class="bg-gray-800 text-amber-50 text-left font-bold text-lg">
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">ID</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">Test name</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">Time</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">Due data</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">Weight</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9">Product</th>
            </tr>
            </thead>
            <tbody>
            {#each testcases as testcase}
                {#if filteredProduct.includes(testcase.product)}
                    <tr class="border-b border-gray-300 even:bg-gray-200 last:border-b-2 last:border-gray-800">
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{testcase.id}</td>
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{testcase.name}</td>
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{formatDuration({duration: testcase.duration})}</td>
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{convertDate(testcase.due_date)}</td>
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{!isNaN(testcase.weight) ? testcase.weight : 'No weight assigned'}</td>
                        <td class="p-6 pt-3 pr-9 pb-3 pl-9">{testcase.product}</td>
                    </tr>
                {/if}
            {/each}
            </tbody>
        </table>
        <div class="ml-auto">
            <Button color="bg-gray-200" onClick={exportPDF}>Export to PDF</Button>
            <Button color="bg-gray-700" hoverColor="hover:bg-gray-600" onClick={exportCSV}><p class="text-white">Export to CSV</p></Button>
        </div>
    </div>
{/await}
