<script>
    export let progressData;

    function formatDuration(seconds) {
        const hours = Math.floor(seconds / 3600);
        const minutes = Math.floor((seconds % 3600) / 60);
        const remainingSeconds = seconds % 60;

        return `${hours} hours, ${minutes} minutes, ${remainingSeconds} seconds`;
    }

</script>

<section class="flex flex-col gap-3 w-4/5 bg-white rounded-lg p-6 shadow-md mb-4 ml-auto">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Board Progress</h2>
    <div class="overflow-x-auto">
        <table class="border-collapse min-w-full border rounded-tl-xl rounded-tr-xl overflow-hidden shadow-md">
            <thead>
            <tr class="bg-gray-800 text-amber-50 text-left font-bold text-lg">
                <th class="p-6 pt-3 pr-9 pb-3 pl-9 border-b text-left">Metric</th>
                <th class="p-6 pt-3 pr-9 pb-3 pl-9 border-b text-center">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b border-gray-300 even:bg-gray-200 last:border-b-2 last:border-gray-800">
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 font-semibold">Total Weight</td>
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 text-center">{progressData.weight}</td>
            </tr>
            <tr class="border-b border-gray-300 even:bg-gray-200 last:border-b-2 last:border-gray-800">
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 font-semibold">Total Bugs</td>
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 text-center">{progressData.bugs}</td>
            </tr>
            <tr class="border-b border-gray-300 even:bg-gray-200 last:border-b-2 last:border-gray-800">
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 font-semibold">Total Time</td>
                <td class="p-6 pt-3 pr-9 pb-3 pl-9 text-center">{!isNaN(progressData.duration) ? formatDuration(progressData.duration) : '0'}</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

