<script>
    export let currentProduct = "EasionScorion";

    function updateProductSelection(value) {
        if (currentProduct.includes(value)) {
            currentProduct = currentProduct.replace(value, '').trim();
        } else {
            currentProduct += ` ${value}`.trim();
        }
    }

</script>

<section class="flex flex-col">
    <p class="font-georgia font-bold text-2xl">Filter</p>
    <form class="flex flex-col">

        <label>
            <input type="checkbox" class="accent-gray-700" name="product" value="Easion" checked={currentProduct.includes("Easion")} on:click={() => updateProductSelection("Easion")}>
            Easion
        </label>

        <label>
            <input type="checkbox" class="accent-gray-700" name="product" value="Scorion" checked={currentProduct.includes("Scorion")} on:click={() => updateProductSelection("Scorion")}>
            Scorion
        </label>
    </form>
</section>
