<script>
    import {afterUpdate, onMount} from 'svelte';
    import page from "page";
    import InputField from "../InputField.svelte";
    import {fetchHelper} from "../../utils/fetch.js";
    import Alert from "../Alert.svelte";
    import ButtonNav from "../ButtonNav.svelte";
    import Button from "../Button.svelte";

    const token = window.location.pathname.split('/').pop();
    let loading = true;
    let error = null;
    let newPassword = '';
    let confirmPassword = '';
    let success = false;
    let showModal = false;

    const checkTokenValidity = async () => {
        try {
            const response = await fetchHelper(`/accounts/checkPassToken/${token}`);

            if (response.message) {
                success = true;
            } else {
                error = response.data.error;
            }
        } catch (error) {
            error = 'An error occurred while checking the token.';
        } finally {
            loading = false;
        }
    };

    const changePassword = async () => {
        if (newPassword !== confirmPassword) {
            error = 'Passwords do not match.';
            return;
        }

        const headers = {
            'Content-Type': 'application/json',
            'Authorization': `${token}`,
        };

        const requestBody = JSON.stringify({
            newPassword: newPassword,
        });

        try {
            const response = await fetch(`${import.meta.env.VITE_BASE_URL}/accounts/update-password`, {
                method: 'PUT',
                headers: headers,
                body: requestBody,
            });

            if (response.ok) {
                page("/");
            } else {
                const responseData = await response.json();
                error = responseData.message || 'An error occurred while changing the password.';
            }
        } catch (error) {
            JSON.stringify(error);
        }
    };

    function handleKeyPress(event) {
        if (event.key === 'Enter') {
            changePassword();
        }
    }

    onMount(async () => {
        await checkTokenValidity();
    });
</script>

{#if loading}
    <p>Loading...</p>
{:else if error}
    <div class="flex items-center justify-center h-screen">
        <p class="mt-4 text-red-500">{error}</p>
    </div>
{:else if success}
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl font-bold mb-4">CHANGE PASSWORD</h1>
        <div class="flex flex-col w-1/4 mb-8 gap-3">
            <InputField placeholderColor="placeholder-black" placeholder="New Password" type="password"
                        bind:value={newPassword} handleKeyPress={handleKeyPress}/>
            <InputField placeholderColor="placeholder-black" placeholder="Confirm Password" type="password"
                        bind:value={confirmPassword} handleKeyPress={handleKeyPress}/>
        </div>

        <Button onClick="{changePassword}" color="bg-gray-700" hoverColor="hover:bg-gray-900">
            <p class="text-white"><i class="fa-solid fa-floppy-disk"></i> Save</p>
        </Button>
    </div>

{/if}

