<script>
import Media from "../Media.svelte";
import ImageCard from "../ImageCard.svelte";

export let existingFileURLs;
export let selectedFiles = [];

function removeSelection(singleFile) {
    const selectedFileInContainer = selectedFiles;
    selectedFileInContainer.splice(singleFile, 1);
    selectedFiles = selectedFileInContainer;
}

</script>

<div class="grid grid-cols-4 w-3/5 border border-gray-200 rounded-lg p-3 gap-3">
    {#each existingFileURLs as url}
        {#if url.includes('mp4')}
            <Media src={url}/>
        {:else }
            <ImageCard height="h-full" imgRoute={url}></ImageCard>
        {/if}
    {/each}

    {#if selectedFiles.length > 0}
        {#each selectedFiles as singleFile}
            {#if singleFile.includes('mp4')}
                <Media src={singleFile}/>
            {:else }
                <div class="flex flex-col gap-y-1">
                    <i class="fa-solid fa-xmark self-end hover:scale-125 ease-in duration-100" style="color: #bb1111;"
                    on:click={(singleFile) => removeSelection(singleFile)} role="button"></i>
                    <ImageCard height="h-full" imgRoute={singleFile}></ImageCard>
                </div>
            {/if}
        {/each}
    {/if}
</div>
