<script>
    import AttachmentUploader from "../AttachmentUploader.svelte";
    import InputField from "../InputField.svelte";
    import TextArea from "../TextArea.svelte";
    import {createEventDispatcher} from "svelte";
    import AttachmentContainer from "./AttachmentContainer.svelte";

    let title;
    let description;
    let selectedFile = null;
    let selectedFiles = [];
    let selectedFilesWithOGNames = [];
    export let existingFiles;
    export let titlePlaceholder = 'Title';
    export let descriptionPlaceholder = 'Description';
    export let placeholderColor = "placeholder-black";

    const dispatch = createEventDispatcher();

    function saveBugReport() {
        dispatch('titledescription', {title, description});
    }

    function handleFileSelect(event) {
        selectedFile = event.target.files[0];
        selectedFilesWithOGNames.push(selectedFile);

        let reader = new FileReader();
        reader.readAsDataURL(selectedFile);

        reader.onload = event => {
            selectedFile = event.target.result;
            selectedFiles.push(selectedFile);
            selectedFiles = selectedFiles;

            // dispatch files to parent
            dispatch('selectedFilesChanged', {selectedFilesWithOGNames});
        };

    }


    let existingFileURLs = [];

    function fillExistingFiles() {
        if (existingFiles != null) {
            existingFiles.forEach((element) => existingFileURLs.push(element.reference));
        }
        return existingFileURLs;
    }

    existingFileURLs = fillExistingFiles();

</script>

<section class="flex flex-col justify-between gap-y-5 ">
    <div class="flex flex-col w-3/5 gap-y-5 ">
        <InputField bind:value={title} placeholder={titlePlaceholder} onChange={saveBugReport}
                    placeholderColor={placeholderColor}></InputField>
        <TextArea bind:value={description} placeholder={descriptionPlaceholder} onChange={saveBugReport}
                  placeholderColor={placeholderColor}></TextArea>
    </div>

    <AttachmentUploader onChange={handleFileSelect}></AttachmentUploader>
    {#if existingFileURLs.length === 0 && selectedFiles.length === 0}
        <div class="w-3/5 h-20 gap-y-5 border border-gray-200 rounded-lg">
        </div>
    {:else}
        <AttachmentContainer existingFileURLs={existingFileURLs} bind:selectedFiles={selectedFiles}/>
    {/if}


</section>
