<script>
    import Tag from "../Tag.svelte";
    import Toggle from "../Toggle.svelte";
    import {createEventDispatcher} from "svelte";
    import {fetchHelper} from "../../utils/fetch.js";
    import BugReportStatusUpdater from "./BugReportStatusUpdater.svelte";

    export let reporter;
    export let environment;
    export let product;
    export let isBlocking = true;
    export let stepId;
    let step;
    let bugReportStatus;
    export let statusDisplay = "Not Resolved";

    const dispatch = createEventDispatcher();

    getStepById();

    async function getStepById() {
        const result = await fetchHelper(`/steps/${stepId}`);
        step = result.step;

        if (step.status === "OK") {
            bugReportStatus = true;
            statusDisplay = "Resolved";
        } else {
            statusDisplay = "Not Resolved";
            bugReportStatus = false;
        }
    }

    async function saveStepData(des, status) {
        const newStep = {
            description: des,
            status: status,
            testCaseId: step.testcase_id
        }
        const response = await fetch(`${import.meta.env.VITE_BASE_URL}/steps/${step.id}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(newStep)
        });
        const result = await response.json();
    }


    function updateStatus() {
        bugReportStatus = !bugReportStatus;

        if (bugReportStatus) {
            statusDisplay = "Resolved";
            saveStepData(step.description, "OK");
        } else {
            statusDisplay = "Not Resolved";
            saveStepData(step.description, "Failed");
        }
    }

    function isBlockingBug() {
        dispatch('isblocking', {isBlocking});
    }


</script>

<section class="w-1/3 bg-gray-200 p-5 rounded flex flex-col gap-y-5 h-fit">
    {#if step}
        <BugReportStatusUpdater bind:status={bugReportStatus} bind:text={statusDisplay} onClick={updateStatus}/>
        <Toggle toggleContent='Blocking bug' bind:value={isBlocking} onChange={isBlockingBug}></Toggle>
        <h2 class="font-bold">Reporter</h2>
        <Tag label={reporter}></Tag>
        <h2 class="font-bold">Environment</h2>
        <Tag label={environment}></Tag>
        <h2 class="font-bold">Product</h2>
        <Tag label={product}></Tag>
    {/if}
</section>
