<script>

    import Button from "../Button.svelte";

    export let text;
    export let status;

    export let onClick = () => {
    };

</script>

<div class="flex flex-row gap-x-2">
    {#if status}
        <Button onClick={onClick}><i class="fa-solid fa-check fa-xl p-1" style="color: #4b7c4b;"></i> {text}</Button>

    {:else }
        <Button onClick={onClick}><i class="fa-solid fa-exclamation fa-xl p-1" style="color: #981616;"></i> {text}</Button>
    {/if}
</div>