<script>

    import {fetchHelper} from "../../../utils/fetch.js";

    export let testcaseId;

    async function getAllBugReports() {
        return await fetchHelper(`/testcases/${testcaseId}/bugreports`);
    }

</script>


<section class="flex flex-col gap-y-3">
    {#await getAllBugReports()}
        <p>Loading bug reports...</p>
    {:then bugReports}
        {#if bugReports.length > 0}
            <h2 class="font-bold">Bug reports</h2>

            <div class="p-5 border border-gray-300 bg-white rounded flex flex-col gap-y-5">
                {#each bugReports as bugReport}
                    <a href="/bugreports/{bugReport.bug_id}">
                        <h2 class="p-2 bg-gray-100 rounded"><i class="fa-solid fa-bug"></i> {bugReport.title}</h2>
                    </a>
                {/each}
            </div>
        {:else}
        {/if}
    {/await}
</section>