<script>
    import Button from "../../Button.svelte";
    import InputField from "../../InputField.svelte";
    import {isAdmin} from "../../../utils/decode.js";
    import {fetchHelper} from "../../../utils/fetch.js";
    import BugReportsContainer from "../sideInfo/BugReportsContainer.svelte";

    export let testCase;
    export let creating;
    export let disabled = !isAdmin();

    let due_date = testCase.due_date.split('T')[0];


    let users = [];
    let environments = ["Web", "Application"];
    let products = [];
    let productsForNewTestcase = [];

    async function getAllUsers() {
        users = await fetchHelper(`/accounts`);
    }

    async function getProductsForThisTestcase() {
        if (!creating) {
            products = await fetchHelper(`/testcases/${testCase.id}/products`);
            for (let product of products) {
                setSelected(product.product_name);
            }
        }
    }

    let easionButtonColor = 'bg-white';
    let scorionButtonColor = 'bg-white';

    function setSelected(product) {
        if (product === 'Scorion') {
            scorionButtonColor = 'bg-blue-200';
        } else {
            easionButtonColor = 'bg-blue-200';
        }
    }

    function setDeselected(product) {
        if (product === 'Scorion') {
            scorionButtonColor = 'bg-white';
        } else {
            easionButtonColor = 'bg-white';
        }
    }

    async function selectProduct(product) {
        if (!creating) {

            if (products.some(obj => obj['product_name'] === product)) {
                await fetchHelper(`/testcases/${testCase.id}/products/${product}`, 'DELETE', {});
                setDeselected(product);
            } else {
                await fetchHelper(`/testcases/${testCase.id}/products`, 'POST', {
                    testcase_id: testCase.id,
                    product_name: product
                });
                setSelected(product);
            }
            await getProductsForThisTestcase();
        } else {
            const index = productsForNewTestcase.findIndex(obj => obj === product);

            if (index === -1) {
                // Product not in list, add it
                productsForNewTestcase.push(product);
                setSelected(product);
            } else {
                productsForNewTestcase.splice(index, 1);
                setDeselected(product);
            }

            testCase.product = productsForNewTestcase;
        }
    }

    function selectDueDate() {
        testCase.due_date = due_date;
    }


</script>

<div class="w-1/3 bg-gray-200 p-8 rounded flex flex-col gap-y-4 min-w-[300px]">

    <h2 class="font-bold"> Weight </h2>
    <InputField type="number" disabled={disabled} bind:value={testCase.weight} placeholder="Weight"/>

    <h2 class="font-bold">Due Date</h2>
    <InputField type="date" disabled={disabled} bind:value={due_date} placeholder="Due date"
                onChange="{() => selectDueDate()}"/>

    <h2 class="font-bold">Product</h2>
    <div class="flex mb-4">

        {#await getProductsForThisTestcase()}
            <p>Loading...</p>
        {:then _}
            <Button color="{easionButtonColor}" disabled={disabled} onClick={() => selectProduct('Easion')}>Easion
            </Button>
            <Button color="{scorionButtonColor}" disabled={disabled} onClick={() => selectProduct('Scorion')}>Scorion
            </Button>
        {/await}

    </div>

    <h2 class="font-bold">Environment</h2>
    {#if isAdmin()}
        <select bind:value={testCase.environment} class="w-full p-2 border border-gray-300 rounded text-sm">
            <option value="{testCase.environment}" selected>{testCase.environment}</option>
            {#each environments as environment}
                {#if environment !== testCase.environment}
                    <option value="{environment}">{environment}</option>
                {/if}
            {/each}
        </select>
    {:else }
        <div class="flex justify-center bg-gray-300 p-4 rounded-lg">
            <p>{testCase.environment}</p>
        </div>
    {/if}

    <h2 class="font-bold">Tester</h2>
    {#if isAdmin()}
        {#await getAllUsers()}
            <p>Loading...</p>
        {:then _}
            <select bind:value={testCase.name_tester} class="w-full p-2 border border-gray-300 rounded text-sm">
                <option value="{testCase.name_tester}" selected>{testCase.name_tester}</option>
                {#each users as user}
                    {#if user.username !== testCase.name_tester}
                        <option value="{user.username}">{user.username}</option>
                    {/if}
                {/each}
            </select>
        {/await}
    {:else }
        <div class="flex justify-center bg-gray-300 p-4 rounded-lg">
            <p>{testCase.name_tester}</p>
        </div>
    {/if}

    {#if !creating}
        <BugReportsContainer testcaseId={testCase.id}/>
    {/if}

</div>