<script>
    import Button from "../Button.svelte";
    import WeightDueAccountProductEnvironment from "./sideInfo/WeightDueAccountProductEnvironment.svelte";
    import NameCommentDescriptionSteps from "./contents/NameCommentDescriptionSteps.svelte";
    import {fetchHelper} from "../../utils/fetch.js";
    import {isAdmin} from "../../utils/decode.js";
    import Alert from "../Alert.svelte";
    import router from "page";

    export let testCase;
    export let creating;
    let textOnMessage = '';
    let showModal = false;

    async function handleSave() {
        if (creating) {
            if (testCase.name === '' || testCase.name_tester === '') {
                textOnMessage = 'Please fill in all required fields!';
            } else {
                await fetchHelper(`/testcases`, 'POST', testCase);
                textOnMessage = 'Save successful!';
                router(`/boards/${testCase.board_id}`);
            }

        } else {
            if (testCase.name === '' || testCase.name_tester === '') {
                textOnMessage = 'Please fill in all required fields!';
            } else {
                await fetchHelper(`/testcases/${testCase.id}`, 'PUT', testCase);
                textOnMessage = 'Save successful!';
            }
        }
        showModal = true;
    }

    async function handleDelete() {
        try {
            await fetchHelper(`/testcases/${testCase.id}`, 'DELETE');
            router(`/boards/${testCase.board_id}`);
        } catch (error) {
            console.error('Error deleting test case:', error);
        }
    }
</script>

<main class="flex space-x-2 flex-row justify-between p-10">
    <section class="flex flex-col gap-y-5 w-2/5">
        <h1 class="font-bold text-3xl">Test Case</h1>
        <NameCommentDescriptionSteps bind:testCase={testCase} creating="{creating}"></NameCommentDescriptionSteps>
        {#if isAdmin()}
            <div class="self-end">
                <Button hoverTextColor="hover:text-green-800" onClick={handleSave}><i
                        class="fa-solid fa-floppy-disk"></i> Save
                </Button>
                {#if !creating}
                    <Button hoverTextColor="hover:text-red-800" onClick={handleDelete}>
                        <i class="fa-solid fa-trash-can"></i> Delete
                    </Button>
                {/if}
            </div>
        {/if}
    </section>

    <div class="flex justify-center items-center h-screen">
        <Alert bind:showModal>
            <div class="flex flex-row items-center gap-x-3">
                <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-green-100 rounded-lg">
                    <div class="w-5 h-5 text-center inline-block ">
                        <i class="fa-solid fa-circle-check" style="color: #2c9638;"></i>
                    </div>
                </div>
                {textOnMessage}
            </div>

        </Alert>
    </div>
    <WeightDueAccountProductEnvironment bind:testCase={testCase} creating="{creating}"></WeightDueAccountProductEnvironment>
</main>
