<script>
    export let usersList;
    export let testCase;

    export function addUser(user) {
        testCase.users = [...testCase.users, user];
    }
</script>

<style>
    label {
        display: block;
        margin-bottom: 10px;
    }

    select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    button {
        padding: 8px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<label>
    <strong>Users:</strong>
    <select bind:value={testCase.users} multiple>
        {#each usersList as user (user)}
            <option value={user}>{user}</option>
        {/each}
    </select>
    <button type="button" on:click={() => addUser('New User')}>Add User</button>
</label>