<!--Alert modal for exception handling-->

<script>
    let dialog;
    export let showModal = false;

    $: {
        if (dialog) {
            if (showModal) {
                dialog.showModal();
            } else {
                dialog.close();
            }
        }
    }
</script>

<dialog bind:this={dialog} on:close={() => (showModal = false)}
        on:click|self={() => dialog.close()}>
    <slot></slot>
</dialog>

<style>
    dialog {
        border-radius: 0.2em;
        padding: 3rem;
    }

    dialog::backdrop {
        background: rgba(0, 0, 0, 0.3);
    }

    dialog[open] {
        animation: zoom 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    @keyframes zoom {
        from {
            transform: scale(0.95);
        }
        to {
            transform: scale(1);
        }
    }

    dialog[open]::backdrop {
        animation: fade 0.2s ease-out;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

</style>
