<script>
    export let onChange = () => {};

</script>

<div class="max-w-md">
    <label class="text-sm text-black mb-2 block font-bold" for="add-attachment">Add attachment </label>
    <input type="file" id="add-attachment"
           accept=".png, .jpg, .jpeg, .svg, .webp, .gif, .mp4"
           on:change={onChange}
           class="w-full text-black text-sm bg-white border file:cursor-pointer cursor-pointer file:border-0 file:py-2.5 file:px-4 file:bg-gray-100 file:hover:bg-gray-200 file:text-black rounded" />
    <p class="text-xs text-gray-400 mt-2">PNG, JPG SVG, WEBP, GIF, and MP4 are Allowed</p>
</div>
