<script>
    export let color = 'bg-white';
    export let hoverColor = 'hover:bg-gray-100';
    export let hoverTextColor = 'hover:text-sky-800';
    export let width = 'fit-content';
    export let height = 'h-full';
    export let type = 'button';
    export let disabled = false;
    export let padding = "p-2.5";
    export let onClick = () => {
    };

    function typeAction(node) {
        node.type = type;
    }

</script>

<button use:typeAction on:click={onClick} disabled={disabled}
        class="{padding} px-5 me-2 text-sm font-medium text-gray-900 {color}
focus:outline-none rounded-lg border border-gray-200 {hoverColor} {hoverTextColor}
focus:z-10 focus:ring-4 focus:ring-gray-200 "
        style="width:{width}; height:{height}">
    <span>
        <slot></slot>
    </span>
</button>
