<script>
    export let context = "";
    export let color = "text-white";
    export let icon = '';
    export let onClick = () => {
    };
</script>

<div class="box-3 mt-8 mr-4">
    <div class="btn p-2 rounded-lg {color}" on:click={onClick}>
        <span><i class="{icon}"></i> {context}</span>
    </div>
</div>

<style>
    /* CSS for styling the button component */
    div[class*=box] {
        height: 33.33%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        line-height: 2rem;
        height: auto;
        text-align: center;
        width: 8rem;
        cursor: pointer;
        transition: all 0.5s;
        position: relative;
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.03);
        transition: all 0.2s;
    }

    .btn:hover::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    .btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: scale(1.2, 1.2);
    }

    .btn:hover::after {
        opacity: 1;
        transform: scale(1, 1);
    }

</style>