<script>
    import ImageCard from "./ImageCard.svelte";

</script>

<footer class="bg-gray-800 shadow p-3">
    <div class="w-full mx-auto max-w-screen-xl md:flex md:items-center md:justify-between">
        <div class="w-1/5">
            <ImageCard imgRoute="../src/assets/scorionCurrent.png" alt="Scorion logo"/>
        </div>
        <span class="text-xs text-gray-400 sm:text-center">
          © 2024
          <a href="https://parantion.com/" class="hover:underline">Scorion™</a>
           All(?) Rights Reserved.
    </span>

        <div>
            <p class="text-xs text-gray-400 sm:text-center">Project Client on Board - Group 1</p>
            <a class="text-gray-200 text-xs" href="https://gitlab.com/saxion.nl/hbo-ict/2.2-project-client-on-board/52">
                <i class="fa-brands fa-gitlab" style="color: #e8e8e8;"></i> Gitlab Repository</a>
        </div>

    </div>
</footer>
