<script>
    import {tokenStore} from "../store.js";
    import ImageCard from "./ImageCard.svelte";
    import {isAdmin} from "../utils/decode.js";
    import router from "page";
    import Notification from "./Notification/Notification.svelte";
    import ButtonNav from "./ButtonNav.svelte";

    const name = '';
    const srcLogo = '../src/assets/scorionCurrent.png';
    const logoutIcon = 'fa-solid fa-right-from-bracket';

    function handleNavigation(route) {
        if (route === '') {
            $tokenStore.token = '';
        }
        router(`/${route}`);
    }

</script>

<header class="flex flex-row p-0.5 justify-between sticky top-0 bg-gray-800 shadow z-50">
    {#if $tokenStore.token !== ''}
        <a class="inline-block w-1/12" href="/account">
            <ImageCard imgRoute={srcLogo} width="auto" height="auto"/>
        </a>
        <div class="flex flex-row gap-x-4">
             <Notification/>
            {#if isAdmin()}
                <ButtonNav onClick="{() => handleNavigation('boards')}" context="Boards"/>
                <ButtonNav onClick="{() => handleNavigation('users')}" context="Users"/>

            {/if}

            <ButtonNav onClick="{() => handleNavigation('account')}" context="Account"/>
            <ButtonNav onClick="{() => handleNavigation('')}" color="text-red-600" icon="{logoutIcon}"
                       context="Logout"/>

        </div>
    {:else }
        <div class="inline-block w-1/12 h-full p-3">
            <ImageCard imgRoute={srcLogo}/>
        </div>
    {/if}

</header>

