<script>
    export let imgRoute = '';
    export let width = '';
    export let height = '';
    export let alt = 'alt';

</script>

<div class="flex items-center w-full h-full rounded-lg">
    <img class="{width} {height}" src={imgRoute} alt={alt} />
</div>

