<!--TextField component for all text fields basically
default type text but can be anything depends on parsing type via parent component-->
<script>
    export let value = '';
    export let placeholder = 'Enter text';
    export let type = 'text';
    export let name = '';
    export let margin = '0';
    export let marginRight = '0';
    export let marginBottom = '0';
    export let marginLeft = '0';
    export let disabled = false;
    export let placeholderColor = "";

    function typeAction(node) {
        node.type = type;
    }

    export let handleKeyPress = () => {
    };
    export let onChange = () => {
    };
    export let handleBlur = () => {
    };

</script>

<input use:typeAction disabled={disabled} on:keydown={handleKeyPress} on:change={onChange} on:blur={handleBlur}
       style="margin-right: {marginRight}; margin-bottom: {marginBottom}" class="{placeholderColor} focus:outline-none select-none input bg-gray-50 border border-gray-200 text-gray-900 text-sm
        rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
       bind:value={value} placeholder={placeholder} name="{name}">
