<script>
    import router from "page";
    import {convertDate} from "../utils/util.js";

    export let testCase;

    //Function to set the colour of the border according to the status
    function getStatusColour(status){
        switch (status){
            case 'Failed':
                return 'red';
            case 'Pending':
                return '#ebb134';
            default:
                return 'gray';
        }
    }

    function getStatusIcon(status){
        switch (status){
            case 'Failed':
                return "fa-solid fa-circle-exclamation";
            case 'Pending':
                return "fa-solid fa-spinner";
            default:
                return "fa-solid fa-ellipsis";
        }
    }

    function handleClick(){
        router(`/testcases/${testCase.id}`);
    }
</script>

<div class="test-bar" style="border-color: {getStatusColour(testCase.status)}" on:click={handleClick}>
   <div class="test-top">
       <p class="test-name font-bold">{testCase.name}</p>
       <i class={getStatusIcon(testCase.status)} style="color: {getStatusColour(testCase.status)}"></i>
   </div>
    <p class="test-due">{convertDate(testCase.due_date)}</p>
</div>

<style>
    .test-bar {
        z-index: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 1rem;
        border-width: 0.1rem;
        overflow: hidden;
        margin-bottom: 1rem;
        cursor: pointer;
        box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
        transition: box-shadow 0.3s ease;
    }


    .test-top{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .test-bar:hover {
        box-shadow: 0 0 1.5rem var(--border-color);
    }
</style>