<script>
    export let placeholder = 'Enter text';
    export let value;
    export let disabled = false;
    export let placeholderColor = '';
    export let onChange = () => {};


</script>

<div>
    <textarea id="message" rows="4" disabled={disabled} on:change={onChange}
              class="outline-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg
              border border-gray-200 focus:ring-blue-500 focus:border-blue-500 {placeholderColor}"
              bind:value ={value} placeholder={placeholder}></textarea>
</div>
