<script>
    export let toggleContent;
    export let name = '';
    export let checked = false;
    export let value = false;

    export let onChange = () => {};

    function handleChange(event) {
        value = event.target.checked;
        onChange();
    }

</script>


<label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" name="{name}" checked={checked} bind:value="{value}" on:change={handleChange} class="sr-only peer">
    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900">{toggleContent}</span>
</label>
