<script>
    import {accountToEdit} from "../../store.js";
    import {beforeUpdate, onMount} from "svelte";

    export let account

    export let radioSelection;

    let role;

    function isAdminToText() {
        if (account.is_admin) {
            role = 'admin';
        } else {
            role = 'tester';
        }
    }

    function select() {
        radioSelection = account.username;
        accountToEdit.set(account);
    }

    $: {
        isAdminToText();
    }

    beforeUpdate(() => {
        isAdminToText();
    });

</script>

<div class="flex flex-row items-center px-2 h-12 border-b border-gray-300">
    <input type="radio" name="accounts" on:click={select} bind:group={radioSelection} value={account.username}
           class="flex-shrink w-10">
    <p class="flex-grow h-fit">{account.username}</p>
    <p class="h-fit">{role}</p>
</div>
