<script>
    import InputField from "../InputField.svelte";
    import Toggle from "../Toggle.svelte";
    import {fetchHelper, getAllUsers} from "../../utils/fetch.js";
    import {accountToEdit, usersList} from "../../store.js";
    import router from "page";
    import Button from "../Button.svelte";
    import Alert from "../Alert.svelte";

    export let isCreating;
    export let showModal;


    let username = "";
    let password = "";
    let is_admin = false;
    let usernameForCreating;
    let passwordForCreating;
    let is_adminForCreating = false;
    let emailForCreating;
    let changePasswordModal = false;

    $: {
        if ($accountToEdit.username !== "") {
            username = $accountToEdit.username || "";
            password = $accountToEdit.password || "";
            is_admin = $accountToEdit.is_admin;
        }
    }

    $:{
        usernameForCreating = username;
        passwordForCreating = password;
        is_adminForCreating = is_admin;
    }


    async function submitHandler(event) {
        const formData = new FormData(event.target);
        console.log(is_adminForCreating)
        if (isCreating) {
            await fetchHelper('/accounts/register', 'POST', {
                usernameForCreating,
                emailForCreating,
                passwordForCreating,
                is_adminForCreating
            });
        } else {
            await fetchHelper(`/accounts/${$accountToEdit.username}`, 'PUT', {
                usernameForCreating,
                password,
                is_adminForCreating
            })
        }
        const updatedUserList = await getAllUsers();
        usersList.set(updatedUserList);
        showModal = false;
        router('/users');
    }

    function cancel() {
        accountToEdit.set({username: '', password: '', is_admin: false});
        showModal = false;
    }

    async function changePassword() {
        if (username){
            showModal = true;
            await fetchHelper('/accounts/change-password', 'POST', {username: username});
        }
    }

    function changeToggle(){
        is_adminForCreating = !is_adminForCreating;
    }
</script>


<form on:submit|preventDefault={submitHandler}>
    <div class="min-w-[15rem] max-w-[20rem] mb-5">
        <h6>Username</h6>
        <InputField placeholder="username" name="username" bind:value="{usernameForCreating}"/>
    </div>
    {#if isCreating}
        {username = '', password = ''}
        <div class="min-w-[15rem] max-w-[20rem] mb-5">
            <h6>Password</h6>
            <InputField type="password" placeholder="New Password" name="password" bind:value="{passwordForCreating}"/>
        </div>
        <div class="min-w-[15rem] max-w-[20rem] mb-5">
            <h6>Email</h6>
            <InputField type="email" placeholder="New Email" name="email" bind:value="{emailForCreating}"/>
        </div>
    {:else}
        <div class="min-w-[15rem] max-w-[20rem] mb-5">
            <h6>Password</h6>
            <Button onClick={() => changePassword()}>Change Password</Button>
            <Alert bind:showModal><i class="fa-xl fa-solid fa-envelope" style="color: #247dc2;"></i> Please check your
                email for password reset!
            </Alert>
        </div>
    {/if}
    <div class="mb-10">
        <h6>Admin</h6>
        <Toggle toggleContent="" name="is_admin" bind:checked="{is_adminForCreating}" onChange="{changeToggle}"/>
    </div>

    <Button type="submit" hoverTextColor="hover:text-green-800"><i class="fa-solid fa-floppy-disk"></i> Save</Button>
    <Button type="reset" hoverTextColor="hover:text-red-800" onClick={cancel}><i class="fa-solid fa-xmark"></i> Cancel
    </Button>
</form>

