<script>
    import AccountInfo from "./AccountInfo.svelte";
    import {usersList} from "../../store.js";


    let list = [];
    let radioCurrentSelection;
    usersList.subscribe(value => {
        list = value;
    });

</script>


<div class="flex px-2">
    <p class="flex-grow text-xl font-bold">Username</p>
    <p class="flex-shrink text-xl font-bold">Role</p>
</div>

<ul class="h-[35rem] overflow-y-scroll border border-gray-300 rounded-lg">
    {#each list as account}
        <AccountInfo bind:account="{account}" bind:radioSelection={radioCurrentSelection}/>
    {/each}
</ul>

